[submodule "docs/modding/tools/open-goal-texture-pack-generator"]
	path = docs/modding/tools/open-goal-texture-pack-generator
	url = https://github.com/whozghiar/open-goal-texture-pack-generator.git

